
@{
    ViewBag.Title = "Accès aux listes";
}
<br/>
<br/>
<div class="jumbotron">
    <h1>Bienvenue dans Pand'Ami</h1>
    <p>L'application pour les grands et les petits</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
