
@{
    ViewBag.Title = "Inscription ou Connexion";
}

<h2>Inscription ou Connexion</h2>

<a href="~/authentification/inscription">Je souhaite m'inscrire</a>
<br />
<br />
<a href="~/authentification/connection">J'ai deja un compte</a>
<br />
<br />
@Html.ActionLink("Accéder a la liste des membres", "Index", "Member")