
@{
    ViewBag.Title = "Accès aux listes";
}

<h2>Accès aux listes</h2>

<br />
@Html.ActionLink("Liste des membres", "Index", "Member")
<br />
<br />
@Html.ActionLink("Liste des demandes de services", "ListServiceRequest", "ServiceRequest")
